@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(https://fonts.googleapis.com/css?family=Dosis);
html {
	

}
body{
		margin: 20px 20px;
		font-family: 'Montserrat', sans-serif;
		color:#ecf0f1;
		font-size: 18px;
}
.slide{
	 color: #7f8c8d;
}
a{
	color:#34495e;
}
 h1 {
 
  color: #e74c3c;
  font-family: 'Dosis', sans-serif;
}
